@model IEnumerable<KibrisSaatDunyasi.Core.Models.Product>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.productname)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.catid)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.descript)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.img)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.brand)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Kadın)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Erkek)
        </th>
    
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.productname)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.catid)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.descript)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.img)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.price)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.brand)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Kadın)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Erkek)
        </td>
      
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.productid }) |
            @Html.ActionLink("Details", "Details", new { id=item.productid }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.productid })
        </td>
    </tr>
}

</table>
